body {
  text-align: center;
  background: content-box
    radial-gradient(rgb(201, 201, 201), rgb(105, 105, 105));
}

#description {
  color: white;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.county {
  stroke: #777;
  stroke-dasharray: 1, 2;
  /* stroke-linejoin: round; */
}

.county:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 3px;
  stroke-dasharray: 1;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 14px sans-serif;
  background: rgb(255, 238, 145);
  border: 0px;
  border-radius: 8px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  cursor: pointer;
}

#legend {
  color: white;
  transform: translate(0px, 50px);
}

#legend,
#source {
  float: right;
  margin-right: 200px;
}

.credits {
  letter-spacing: 3px;
}
